# Foot server for footclient: systemctl --user enable foot-server.socket
{{ if has "laptop" .role -}}
exec-once = sleep 5; footclient -- tmux-init
  {{ if has "monitor-M" .role -}}
exec-once = brightnessctl set 0
  {{ end -}}
  
# Restart waybar to prevent ocassional race conditions from the workspace module
# trying to connect before the compositor's IPC is ready
exec-once = sleep 3; omarchy-restart-waybar
{{ else if has "box" .role -}}
# exec-once = sleep 1; hyprpm reload
exec-once = sleep 4; footclient -- tmux-init
exec-once = sleep 5; hyprctl dispatch exec [workspace 2 silent] brave
exec-once = sleep 7; hyprctl dispatch exec [workspace 3 silent] zeditor
exec-once = sleep 10; hyprctl dispatch exec [workspace 4 silent] kweather
{{ end -}}
