@import "../omarchy/current/theme/swayosd.css";

window {
  border-radius: 24px;
  border: 1px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
  font-weight: normal;

  color: @label;
}

image {
  opacity: 0.73;
  color: @image;
}

progressbar {
  border-radius: 5px;
}

progress {
  background-color: @progress;
}
